<div>
    <form action="">
        <a href="{% url 'contact' letter='a' %}">A</a>
        <a href="{% url 'contact' letter='b' %}">B</a>
        <a href="{% url 'contact' letter='c' %}">C</a>
        <a href="{% url 'contact' letter='d' %}">D</a>
        <a href="{% url 'contact' letter='e' %}">E</a>
        <a href="{% url 'contact' letter='f' %}">F</a>
        <a href="{% url 'contact' letter='g' %}">G</a>
        <a href="{% url 'contact' letter='h' %}">H</a>
        <a href="{% url 'contact' letter='i' %}">I</a>
        <a href="{% url 'contact' letter='a' %}">J</a>
        <a href="{% url 'contact' letter='a' %}">K</a>
        <a href="{% url 'contact' letter='a' %}">L</a>
        <a href="{% url 'contact' letter='a' %}">M</a>
        <a href="{% url 'contact' letter='a' %}">N</a>
        <a href="{% url 'contact' letter='a' %}">O</a>
        <a href="{% url 'contact' letter='a' %}">P</a>
        <a href="{% url 'contact' letter='a' %}">Q</a>
        <a href="{% url 'contact' letter='a' %}">R</a>
        <a href="{% url 'contact' letter='a' %}">S</a>
        <a href="{% url 'contact' letter='a' %}">T</a>
        <a href="{% url 'contact' letter='a' %}">U</a>
        <a href="{% url 'contact' letter='a' %}">V</a>
        <a href="{% url 'contact' letter='a' %}">W</a>
        <a href="{% url 'contact' letter='a' %}">X</a>
        <a href="{% url 'contact' letter='a' %}">Y</a>
        <a href="{% url 'contact' letter='a' %}">Z</a>
        
    </form>

</div>